---
const icons = ["Linkedin","instagram","github"];
---

<ul class="flex gap-5">
  {
    icons.map((icon) => (
    <li>
    <a href="#">
      <img src={`/images/icons/${icon}.svg`} height="28" width="20" loading="eager" alt={icon}>
    </a>
    </li>
    ))
  }  
</ul>
