<header class="flex flex-col items-center relative px-32 py-5 gap-10">
    <a href="/" class="text-2xl font-semibold text-left font-primary ">
      Abhishek Raj Poudel
    </a>
    <nav class="flex justify-center items-center relative gap-10 p-2.5">
      <a href="#" class="text-xl text-left">About Me</a>
      <a href="#" class="text-xl text-left">Contacts</a>
    </nav>
    <div class="flex gap-5">
      <a href="#"><img src="/assets/icons/Linkedin.svg" height="28" width="20" loading="eager" alt=""></a>
      <a href="#"><img src="/assets/icons/instagram.svg" height="28" width="20" loading="eager" alt=""></a>
      <a href="#"><img src="/assets/icons/github.svg" height="28" width="20" loading="eager" alt=""></a>
    </div>
  </header>
