---
import IconList from "../components/IconList.svelte"
---
<header class="flex justify-between items-center self-stretch relative px-32 py-5">
    <a href="/" class="text-2xl font-semibold text-left font-primary ">
      Abhishek Raj Poudel
    </a>
    <!--<nav class="flex justify-center items-center relative gap-10 p-2.5">-->
    <!--  <a href="#" class="text-xl text-left">About Me</a>-->
    <!--  <a href="#" class="text-xl text-left">Contacts</a>-->
    <!--</nav>-->

  <IconList/>
    
  </header>
